body{
    background-color: bisque;
}

.download {
    position: fixed;
    width: 30%;
    height: 100%;
    background-color: aliceblue;
}

.download li {
    color: black;
    font-size: 20px;
    padding: 30px;
    border-bottom: 1px solid black;
    <list-style: none;
    text-align: center;
}

.download li a {
    color: black;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.center {
    position: absolute;
}

.download-btn {
    width: 200px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    margin: 20px 0px;
    border: 5px solid bisque;
    border-radius: 10px;
}

.contact {
    position: absolute;
    top: 20%;
    left: 60%;
}

.container .contact {
    width: 20%;
    padding: 40px;
    background: #fff;
}

h2{
    color: red;
}