button{
    background-color: steelblue;
    color: tan;
}

h5{
    font-size: medium;
    color: red;
    text-align: center;
}

section{
    text-align: left;
}

p{
    text-decoration-color: seagreen;
}
{
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}